* {
  box-sizing: border-box;
}
.home{
  color: white;
}
.homeImg {
  background-image: url(../../appImgs/ribsImg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 95vh;
  max-width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeIntro {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
}
.homeContainer {
  width: 100%;
  background-color: black;
  position: relative;
}
.about {
  margin: 0;
  padding: 40px 10px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.homeMenuContainer {
  background: url(../../appImgs\purpleBackgroundImg.jpg) no-repeat;
  background-position: top center fixed;
  background-size: cover;
  margin: 0;
  padding: 40px 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurantImg {
  background-image: url(../../appImgs/restaurantImg.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  z-index: 2;
}
.skylineDiv {
  background-image: url(../../appImgs/dallasSkyline.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.bookReservation {
  background-image: url(../../appImgs/reservationBook.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: auto;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reservation {
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 40px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
}
.clearReservation {
  background-color: rgba(0,0,0,0);
  background-size: cover;
  margin: 0 auto;
  padding: 1rem;
  height: 45rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.pressLounge {
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  line-height: 1.8;
  letter-spacing: 1.8;
}
.pressLounge h3{
  border-bottom: solid white 2px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  line-height: 1.8;
  letter-spacing: 1.8;
}

.btn {
  border-radius: 10px;
  background: orange;
  color: white;
  margin: 10px;
  font-size: x-large;
  font-weight: 700;
  padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 990px){

}
@media only screen and (min-width: 991px) {
  .homeIntro {
    width: 70%;
    padding: 50px
  }
  .homeContainer {
    padding: 5rem;
  }
  .about  h3{
    padding: 1rem 5rem;
    line-height: 1.7;
    letter-spacing: 1.4px;
  }
  .homeMenuContainer {
    height: 25rem;
  }
  .restaurantImg {
    height: 80vh;
  }
  .reservation {
    margin: 5rem;
  }
.pressLounge {
  width: 60%;
  padding: 40px;
}
.pressLounge h5 {
  line-height: 1.6;
  letter-spacing: 1.5px;
}
}
