.contact {
  padding-top: 150px;
  background-color: whitesmoke;
}
.emailWrapper {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  margin: 50px 0;
}
.emailContainer {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.emailContainer input,
textarea {
  width: 320px;
  text-align: start;
  margin-bottom: 20px;
  padding: 8px;
}
#submit {
  text-align: center;
  background-color: #1abc9c;
  color: white;
  font-size: x-large;
}
.emailSectionHeader {
  margin: 20px auto;
  font-size: x-large;
  width: 320px;
  display: flex;
  align-items: center;
}
.emailLabel {
  text-align: center;
  background-color: #1abc9c;
  color: white;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  width: 40px;
  margin-right: 20px;
}
