* {
  text-align: center;
  font-family: "DM Serif Display", serif;
}

.explore {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 150px;
  height: 60px;
  margin-left: -75px;
  padding: 10px;
  color: #fff;
  text-align: center;
  background: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.blackBar {
  width: 100%;
  height: 4rem;
}
